earthengine-api==1.5.13
folium==0.19.5
geedim==1.9.0
geemap==0.35.3
GeoAlchemy2==0.17.1
geopandas==1.0.1
huggingface-hub==0.31.1
ipywidgets==8.1.6
jupyter==1.0.0
landsatxplore #@ /noah-development/dist-pack/landsatxplore
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
plotly==6.0.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
rasterio==1.4.3
scikit-image==0.25.2
scipy==1.15.3
shapely==2.1.0
SQLAlchemy==2.0.40
tifffile==2025.5.10
torch==2.7.0
torchmetrics==1.7.1
torchvision==0.22.0
tqdm==4.67.1
xarray==2025.4.0
zarr==2.18.3
